@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Update</title>
</head>
<body>
    <h2>Student Update operations successful</h2>
</body>
</html>
